In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [7]:
data = 4, 8, 15, 16, 23, 42
series = pd.Series(data)

In [8]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

In [11]:
l = ['Data','Science','is','fun','and','I','love','learning','from','pwskills']
print(pd.Series(l))

0        Data
1     Science
2          is
3         fun
4         and
5           I
6        love
7    learning
8        from
9    pwskills
dtype: object

In [13]:
#Q3. Create a Pandas DataFrame that contains the following data. Then, print the DataFrame.:

#data from question

In [15]:
df = {'Name':['Alice', 'Bob', 'Claire'],
      'Age': [25, 30, 27],
      'Gender': ['Female', 'Male', 'Female']
}

In [18]:
df1 = pd.DataFrame(df)

In [19]:
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [21]:
#Panda series is a one dimentional array i.e. a single list which can store heterogeneous type of data while DataFrame is a two dimentional array, i.e it contains multiple lists of heterogeneous type of data.

#Both series and DataFrame can be created either with list or with the help of a dictionary, in case of series, there will be only one key in the dictionary but there may be multiple keys in case of DataFrame.

In [22]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

In [23]:
#Some common functions in Pandas DataFrame are as follows:

# 1. read_csv/ read_excel function allows to read a csv/ excel file into a DataFrame
# 2. head(n) is used to return the first n rows of a dataset. 
# 3. Columns - When you have a big dataset like that it can be hard to see all the columns. using .columns function, you can print out all the columns of the dataset
# 4. apply() >> Used to apply a function to each item in a column
# 5. .iloc / .loc >> used to locate a perticular item or group of item from a dataframe

In [24]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [25]:
#All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

In [26]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
l1 = [1,3,5,6,7,8,9,3]
l2 = [7,3,7,9,3,2,8,2]
l3 = [4,6,8,2,3,5,7,9]

df = pd.DataFrame()
df["l1"]=pd.Series(l1)
df["l2"]=pd.Series(l2)
df["l3"]=pd.Series(l3)

df

   l1  l2  l3
0   1   7   4
1   3   3   6
2   5   7   8
3   6   9   2
4   7   3   3
5   8   2   5
6   9   8   7
7   3   2   9